body {
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #1f1f1f;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}


.navbar {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.navbar-nav .nav-link {
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    background-color: #ffffff;
    color: #212529;
}

.library-container {
    display: flex;
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 20px;
    flex-grow: 1;
}

.vertical-navbar {
    width: 200px;
    position: fixed;
    top: 60px;
    left: 0;
    background-color: #2a2a2a;
    padding: 20px;
    height: calc(100vh - 60px);
    overflow-y: auto;
    z-index: 1000;
}

.fa-search {
    color: #fff;
    font-size: 16px;
    vertical-align: middle;
}


.vertical-navbar a {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.vertical-navbar a img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 3px;
}

.vertical-navbar a:hover {
    background-color: #4da6ff;
    color: #fff;
}

.content-container {
    margin-left: 220px;
    padding: 20px;
    width: calc(100% - 220px);
    transition: margin-left 0.3s ease, width 0.3s ease;
    overflow-x: hidden;
}


.game-info {
    background-color: #2a2a2a;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    min-height: calc(100vh - 160px);
}

.game-info h2 {
    color: #4da6ff;
}

.game-info p {
    font-size: 1rem;
    line-height: 1.5;
    color: #ccc;
}

.game-info img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.game-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.play-button {
    background-color: #4da6ff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.play-button:hover {
    background-color: #3399ff;
}

.game-details {
    margin-left: 15px;
    font-size: 0.9rem;
}

.game-details p {
    margin: 0;
}

.achievements-badge {
    background-color: #4da6ff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.footer {
    padding: 20px 0;
    background-color: #121212;
    color: #ccc;
    text-align: center;
    margin-top: 20px;
}

.footer a {
    color: #4da6ff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {

    .navbar {
        width: 100vw;
        margin: 0;
    }

    .vertical-navbar {
        width: 50%;
        position: fixed;
        left: 0;
        top: 60px;
        height: calc(100vh - 60px);
        background-color: #2a2a2a;
    }

    .game-actions {
        flex-direction: column;
    }

    .content-container {
        margin-left: 50%;
        width: calc(100vw - 50%);
        overflow-x: hidden;
    }

    .vertical-navbar a {
        padding: 15px;
        font-size: 1.2rem;
    }

    .game-info {
        padding: 10px;
        font-size: 1rem;
    }
}

.light-theme {
    background-color: #1f1f1f;
    color: #212529;
}

.light-theme p {
    color: #212529;
}

.light-theme h2 {
    color: #005f73;
}

.light-theme .achievements-badge {
    background-color: #005f73;
}

.light-theme .navbar-nav .nav-link {
    color: #ffffff;
}

.light-theme .vertical-navbar {
    background-color: #f1f1f1;
}

.light-theme .vertical-navbar a {
    color: #000;
}

.light-theme .vertical-navbar a:hover {
    background-color: #187194;
    color: #fff;
}

.light-theme .game-info {
    background-color: #ffffff;
    color: #000;
}

.light-theme .play-button {
    background-color: #187194;
    color: #fff;
}

.light-theme .play-button:hover {
    background-color: #005f73;
}

/* .light-theme .footer {
    background-color: #e9ecef;
    color: #000;
} */

.light-theme .footer a {
    color: #187194;
}