body {
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0;
    background-image: url('../Assets/bkg_img.jpg');
    background-size: cover;
    background-position: center;
}


.center-wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    padding: 20px;
}

.signup-container {
    position: relative;
    padding: 30px;
    border-radius: 10px;
    background-color: #1f1f1f;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    max-width: 500px;
    width: 100%;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.dark-theme {
    background-color: #121212;
    color: #fff;
}

.light-theme {
    background-color: #f8f9fa;
    color: #212529;
}

.light-theme .signup-container {
    background-color: #ffffff;
    border: 2px solid #e0e0e0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #4da6ff;
    border-color: #4da6ff;
}

.btn-primary:hover {
    background-color: #4da6ff;
    border-color: #4da6ff;
}

.text-muted {
    color: #8c8c8c !important;
}

.create-account {
    color: #4da6ff;
    text-decoration: none;
}

.create-account:hover {
    text-decoration: underline;
}

.theme-toggle-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #3366cc;
    transition: color 0.3s ease;
}

.theme-toggle-icon:hover {
    color: #4da6ff;
}

.error-message {
    color: red;
    font-size: 0.8em;
    display: none;
}

.valid-message {
    color: green;
    font-size: 0.8em;
    display: none;
}

.gamehub-header {
    font-size: 48px;
    font-weight: bold;
    color: #4da6ff;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8), 0 0 10px #4da6ff;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1s ease-in-out forwards;
    margin-bottom: 20px;
    margin-top: 60px;
    position: relative;
    z-index: 1;
}

.light-theme .gamehub-header {
    color: #4da6ff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 0 0 5px #3366cc;
}

nav {
    z-index: 10;
    position: relative;
}

.navbar-nav .nav-link {
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    background-color: #ffffff;
    color: #212529;
}

@keyframes slideIn {
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

label {
    text-align: left;
    display: block;
}

@media (max-width: 576px) {
    .signup-container {
        padding: 20px;
    }

    .gamehub-header {
        font-size: 36px;
    }

    .btn-primary {
        font-size: 16px;
    }

    .theme-toggle-icon {
        font-size: 20px;
    }
}